main {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.choice {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    p {
        margin: 0.5rem;
        font-size: 20px;
        cursor: pointer;
    }
}